<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block localimport %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- NAVBAR --> 
    <div>
        <nav id='navbar' class="nav_bar d-flex flex-column flex-md-row">
            <img id="logo" src="{% static 'images/logo.svg' %}" alt="" class="logo">
            <a id="vapecloud" href="http://127.0.0.1:8000/" class="vapecloud">Vapeshop Cloud</a>
            <form id="searchform" action="{% url 'search' %}" method="get" class="search_form">
                {% csrf_token %}
                <input value="{{ request.GET.q }}" type="text" name="q" class="search" id="search" placeholder="Найти...">
<!--                <input id="search" name="search_request" class="search" type="search" placeholder="Найти...">-->
                <button id="submit" type="submit" class="submit" value=""></button>
            </form>
            <a id="cart" class="cart" href="/cart"><img src="{% static 'images/cart.svg' %}" alt=""></a>
        </nav>
    </div>
    <div id="rounder" class="nav_bar_rounder"></div>
    <div id="contentBlock" class="container content">
        {% block body %}{% endblock %}
    </div>
</body>
<!-- SCRIPTS -->
<script src="{% static 'scripts/nav_mobile.js' %}"></script>
</html>