{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block localimport %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block title %}
Корзина
{% endblock %}

{% block body %}
<div class="info-message-wrapper">
    <p class="info-message-content"></p>
</div>
<div class="modal-wrapper" style="display: none;">
    <div class="modal-container">
        <div class="modal-header">
            <span class="modal-header-title">Оформить заказ:</span>
            <span class="modal-close">&times;</span>
        </div>
        <form>
            <div class="modal-body">
                <div class="input-fields-wrapper">
                    <p class="personal-info-titile">О вас:</p>
                    <div class="personal-info-wrapper">
                        <input type="text" class="name" placeholder="Имя">
                        <input type="text" class="surname" placeholder="Фамилия">
                        <input type="text" class="lastname" placeholder="Отчество">
                        <input type="tel" class="tel" placeholder="Телефон">
                    </div>
                    <p class="adress-title">Адрес доставки:</p>
                    <input type="text" class="adress" placeholder="Полный адрес">
                    <p class="adress-example">Пример: 119334, Россия, Москва, Ленинский проспект, дом 37, кв. 24</p>
                    <p class="commentary-title">Комментарий:</p>
                    <textarea name="commentary" class="commentary" placeholder="Ваш комментарий к заказу. Можно оставить ссылку на соцсети для связи."></textarea>
                </div>
                <div class="modal-cart-stat"></div>
            </div>
            <div class="modal-footer">
                <input type="button" class="confirm-order" value="Заказать">
                <button class="cancel-order">Отменить</button>
            </div>
        </form>
    </div>
    <div class="modal-background"></div>
</div>
<div class="container">
    <p class="cart-title">Корзина:</p>
    <p class="cart-sum">Всего: <span class="cart-sum-value">0</span> руб</p>
    <!-- IF PROSUCTS ISN'T FUNDED -->
    <div class="not-funded-wrapper">
        <p class="empty-title">Корзина пуста</p>
    </div>
    <!-- IF PRODUCTS FUNDED -->
    <div class='products-wrapper'>
    </div>
    <div class="make-an-order">
        <button class="make-an-order-button">Оформить заказ</button>
        <div class="color"></div>
    </div>

<script src="{% static 'scripts/bot.js' %}"></script>
<script src="{% static 'scripts/cart.js' %}"></script>
</div>
{% endblock %}