{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block localimport %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'css/item.css' %}">
<link rel="stylesheet" href="{% static 'css/product-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block title %}
VapeCloud
{% endblock %}

{% block body %}
<div class="container">
    <div class="info-message-wrapper">
        <p class="info-message-content">Товар успешно добавлен в корзину</p>
    </div>
    <div class="product-info-wrapper">
        <div class="product-slider-container">
            <div class="swiper-wrapper">
                <!-- FOR -->
                <!-- #TODO: У первого изображения в слайдере обязательно должен присутствовать id="product-image", а у других не должно быть. Если сделать не получится, пусть будет у всех. -->
                <div class="swiper-slide card">
                    <img id="product-image" class="swiper-image" src="{{ MEDIA_ROOT }}{{ item.image.url }}" alt="">
                </div>
                <div class="swiper-slide card">
                    <img class="swiper-image" src="{% static 'images/vp2.jpg' %}" alt="">
                </div>
                <!-- ENDFOR -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-info">
            <a id="product-href" href="ПУТЬ ТУТ" class="disabled"></a> <!-- #TODO: ТУТ НУЖНО УКАЗАТЬ ПОЛНЫЙ ПУТЬ ДО ТОВАРА, ТАКОЙ КАК https://vapecloud.ru......... Ну ты понял -->
            <h1 id="product-name" class="name">{{ item.title|upper }}</h1>
            <h4 id="product-category" class="category">{{ item.category.description|lower }}</h4> <!-- #TODO: ВЫВОД КАТЕГОРИИ -->
            <p class="price"><span id="product-price">{{ item.price }}</span> руб.</p>
            <p class="description">{{ item.description }}</p>
            <!-- Начало таблицы -->
            <table>
                <!-- Если заголовки не нужны, то thead удали просто -->
<!--                <thead>-->
<!--                  <tr>-->
<!--                    <td>Характеристика</td>-->
<!--                    <td>Значение</td>-->
<!--                  </tr>-->
<!--                </thead>-->
                <tbody>
                    <!-- Фор для tbody, а не для таблицы -->
                    {% if item.category.name == "cloud" or item.category.name == "zhidkosti" %}
                    <tr>
                        <td>Вкус</td>
                        <td>{{ item.taste }}</td>
                    </tr>
                    <tr>
                        <td>Объем</td>
                        <td>{{ item.volume }}</td>
                    </tr>
                    <tr>
                        <td>Salt</td>
                        <td>{{ item.salt|lower }}</td>
                    </tr>
                    <tr>
                        <td>VG/PG</td>
                        <td>{{ item.vg_to_pg }}</td>
                    </tr>
                    <tr>
                        <td>Содержание никотина</td>
                        <td>{{ item.nicotine }}</td>
                    </tr>
                    <tr>
                        <td>Cтрана производитель</td>
                        <td>{{ item.country }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>Бренд</td>
                        <td>{{ item.brand|lower }}</td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
            <!-- конец таблицы -->
            <div class="cart-counter">
                <div class="counter-wrapper">
                    <button class='increment'><p>+</p></button>
                    <div class='counter'>
                        <p id='product-quantity' class='counter-value'>1</p>
                    </div>
                    <button class='decrement'><p>-</p></button>
                </div>
                <button class="add-to-cart" onclick="addToCart()">В корзину</button>
            </div>
            <button class="help">Нужна помощь?</button>
<!--            баттон потом в инпут submit переделать-->
        </div>

        {% if item.category == 'Жидкости'%}
<!--      для жидкостей-->
        {% else %}
<!--       для остальных категорий  они находятся в бд Crates-->    
        {% endif %}
    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'scripts/item-counts.js' %}"></script>
<script src="{% static 'scripts/cart.js' %}"></script>
<script src="{% static 'scripts/product-slider.js' %}"></script>
{% endblock %}