{% extends 'base.html' %}
{% load static %}
{% csrf_token %}

{% block localimport %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="{% static 'css/item.css' %}">
<link rel="stylesheet" href="{% static 'css/product-slider.css' %}">
<link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block title %}
VapeCloud
{% endblock %}

{% block body %}
<div class="container">
    <div class="info-message-wrapper">
        <p class="info-message-content">Товар успешно добавлен в корзину</p>
    </div>
    <div class="product-info-wrapper">
        <div class="product-slider-container">
            <div class="swiper-wrapper">
                <!-- FOR -->
                <!-- #TODO: У первого изображения в слайдере обязательно должен присутствовать id="product-image", а у других не должно быть. Если сделать не получится, пусть будет у всех. -->
                <div class="swiper-slide card">
                    <img id="product-image" class="swiper-image" src="{{ MEDIA_ROOT }}{{ item.image.url }}" alt="">
                </div>
                {% if item.image2 %}
                <div class="swiper-slide card">
                    <img class="swiper-image" src="{{ MEDIA_ROOT }}{{ item.image2.url }}" alt="">
                </div>
                {% endif %}
                {% if item.image3 %}
                <div class="swiper-slide card">
                    <img class="swiper-image" src="{{ MEDIA_ROOT }}{{ item.image3.url }}" alt="">
                </div>
                {% endif %}
                <!-- ENDFOR -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="product-info">
            <a id="product-href" href="/item/{{item.category}}/{{item.slug}}/" class="disabled"></a>
            <h1 id="product-name" class="name">{{ item.title|upper }}</h1>
            <h4 id="product-category" class="category">{{ item.category.description|lower }}</h4>
            <p class="disabled sale">{{ item.sale }}</p>
            <p class="price"><span id="product-price">{{ item.price }}</span> руб.</p>
            <table>
                <tbody>
                    {% if item.category.name == "cloud" or item.category.name == "zhidkosti" %}
                    <tr>
                        <td>Вкус</td>
                        <td>{{ item.taste }}</td>
                    </tr>
                    <tr>
                        <td>Объем</td>
                        <td>{{ item.volume }} мл</td>
                    </tr>
                    <tr>
                        <td>Salt</td>
                        <td>{{ item.salt|lower }}</td>
                    </tr>
                    <tr>
                        <td>VG/PG</td>
                        <td>{{ item.vg_to_pg }}</td>
                    </tr>
                    <tr>
                        <td>Содержание никотина</td>
                        <td>{{ item.nicotine }}</td>
                    </tr>
                    <tr>
                        <td>Cтрана производитель</td>
                        <td>{{ item.country }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>Бренд</td>
                        <td>{{ item.brand|lower }}</td>
                    </tr>
                    {% endif %}
                </tbody>
              </table>
              <p class="description">{{ item.description }}</p>
            <div class="cart-counter">
                <div class="counter-wrapper">
                    <button class='increment'><p>+</p></button>
                    <div class='counter'>
                        <p id='product-quantity' class='counter-value'>1</p>
                    </div>
                    <button class='decrement'><p>-</p></button>
                </div>
                <button class="add-to-cart" onclick="addToCart()">В корзину</button>
            </div>
            <button class="help">Нужна помощь?</button>
        </div>

        {% if item.category == 'Жидкости'%}
<!--      для жидкостей-->
        {% else %}
<!--       для остальных категорий  они находятся в бд Crates-->    
        {% endif %}
    </div>
</div>
<script src="{% static 'scripts/item-help.js' %}"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'scripts/item-counts.js' %}"></script>
<script src="{% static 'scripts/cart.js' %}"></script>
<script src="{% static 'scripts/product-slider.js' %}"></script>
<script src="{% static 'scripts/item-sales.js' %}"></script>
{% endblock %}
