.products-sorting-menu-wrapper {
    width: 100%;
    padding: 40px 20px;
    background: #fafafa;
    border-radius: 20px;
}

.products-sorting-menu-wrapper .sorting-title {
    margin-bottom: 0.2em;
    font-size: 2em;
}

.products-sorting-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.products-sorting-body,
.products-sorting-header {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.product-sorting-button {
    margin-right: 20px;
    background: none;
    padding: 0;
    margin-bottom: 20px;   
}

.product-sorting-button:hover {
    text-decoration: underline;
}

.product-sorting-select {
    width: unset;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 20px 20px 0;
}
.product-sorting-select label {
    margin-right: 10px;
}

.arrow_up::after {
    content: ' 🠑';
}

.arrow_down::after {
    content: ' 🠓'
}

.point::after {
    content: ' •'
}

@media(max-width: 460px) {
    .products-sorting-menu-wrapper .sorting-title {
        font-size: 1.4em;
    }
    .product-sorting-button {
        margin: 0 0 20px 0;
        text-align: left;
    }
}