@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');


* {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: normal;
}

a {
    color: #000; 
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
} 
a:hover {
    color: #000;  
    text-decoration: none;
}

a,
a:visited,
a:hover,
a:focus,
input,
input:active,
input:focus,
button, 
button:active, 
button:focus {
    outline: none;
    border: 0;
}

label {
    margin: 0;
    padding: 0;
} 

nav {
    background: linear-gradient(270deg, rgba(104,75,216,1) 0%, rgba(235,81,119,1) 100%);
    padding-top: 20px;
    padding-bottom: 100px;
    z-index: -20;
}

/* NAVBAR */

.nav_bar {
    height: 140px;
}

nav .logo {
    margin-left: 2vw;
    margin-top: 6px;
    height: 30px;
}

nav .vapecloud {
    margin-left: 20px;
    margin-right: 30px;
    font-size: 30px;
    color: white;
}

nav .search_form {
    height: 40px;
    flex-grow: 1;
    position: relative;
}

nav .search {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.5); 
    padding-left: 20px;
}

nav .search::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}

nav .search_form .submit {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 40px;
    height: 100%;
    background: url(../images/find.svg) no-repeat 50% 50%;
    border: none;
}

nav .cart {
    width: auto;
    margin-top: 6px;
    margin-right: 2vw;
    margin-left: 30px;
}

.nav_bar_rounder {
    position: absolute;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 100%;
    height: 70px;
    background: white;
    margin-top: 80px;
    top: 0;
    z-index: 0;
}

/* NAVBAR MOBILE */

.nav_bar_mobile {
    height: 240px;
}

nav .logo_mobile {

}

nav .vapecloud_mobile {
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: white;
}

nav .search_form_mobile {
    flex-grow: 1;
    position: relative;
    height: 60px;
    min-width: 267px;
    margin-left: 20px;
    margin-right: 20px;
}

nav .search_mobile {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    background: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.5); 
    padding-left: 20px;
}

nav .search_mobile::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}

nav .search_form_mobile .submit_mobile {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    width: 20px;
    height: 100%;
    background: transparent;
}

nav .cart_mobile {
    position: absolute;
    display: block;
    width: auto;
    margin-top: 20px;
    right: 30px;
}

nav .delivery_mobile {
    display: block; 
    font-size: 12px;
    color: white;
    left: 30px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nav_bar_rounder_mobile {
    position: absolute;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 100%;
    height: 50px;
    background: white;
    margin-top: 195px;
    top: 0;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    z-index: 0;
}

/* HEADER END */

/* MAIN BLOCK */

.container {
    z-index: 10;
}

.content {
    margin-top: 10px;
    z-index: 10;
}

.last_items {
    font-size: 30px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    width: 100%;
    height: auto;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 100px 0;
}

.products .product {
    background: none;
    max-width: 350px;
    width: 100%;
    height: 100%;
    max-height: 350px;
    min-height: 350px;
    margin-bottom: 30px;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.rub { 
	line-height: 5px;
	width: 0.4em;
	border-bottom: 1px solid #fff; 
	display: inline-block;
} 

.products .product .show_item {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
}

.product .price_block {
    color: white;
    position: absolute;
    bottom: 20px;
    right: 30px;
    margin: 0;
    z-index: 5;
}

.product .product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product .price_block .price {
    margin: 0;
    font-size: 30px;
}

.product .label {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 20px;
    left: 30px;
    max-width: 190px;
    font-size: 24px;
    color: white;
    z-index: 5;
}

.shadow {
    opacity: .6;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}

.gradient {
	display: inline-block;
	position: relative;    
    line-height: 0;
    z-index: 0;
}
.gradient:after {
	content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
	background-image: linear-gradient( 0deg, rgba(0,0,0,0.6), rgba(0,0,0,0));
	opacity: 0.8;
}
.sort-wrapper {
    margin: 20px 0 0 0;
}
.menu li{
    list-style: none;
    position: relative;
}
.menu-list {
    display: flex;
    justify-content: space-between;
}
.menu-list>li {
    margin: 0;
    padding: 0.3em 0 0 0;
    width: 20%;
}
.menu-list>li:hover .sub-menu-list {
    margin-bottom: 0;
    opacity: 1;
}
.menu-link {
    position: relative;
    color: #000;
    z-index: 5;
    transition: all 300ms ease-in-out 150ms;
}
.sub-menu-list {
    margin-top: 0.5rem;
    transition: margin-bottom 600ms ease-in-out, opacity 200ms ease-out 300ms;
    margin-bottom: -100%;
    opacity: 0;
    display: block;
    padding: 0;
}
.sub-menu-link {
    color: #000
}
.menu-list>li .color {
    position: absolute;
    top: 0;
    margin: 0 1%;
    padding: 0;
    width: 98%;
    background: #DD5182;
    height: 3px;
    transition: all 500ms ease-out 150ms;
    z-index: 0;
}
.menu-list>li:hover .color {
    height: 2em;
}
.menu-list>li:hover .menu-link {
    color: white;
}
li>a {
    display: block;
    margin-left: 5px;
}
.disable-onclick-event {
    pointer-events: none;
}
.disabled {
    position: absolute;
    opacity: 0;
    width: .1px;
    height: .1px;
    text-decoration: none;
    pointer-events: none;
    color: transparent;
}
.info-message-wrapper {
    background: rgba(0,0,0,.8);
    position: fixed;
    margin: 0 auto;
    top: -50px;
    left: 50vw;
    transform: translate(-50%);  
    z-index: 100000;
    border-radius: 20px;
    opacity: 0;
    transition: top 500ms ease-in, opacity 300ms ease-in 200ms;
}

.info-message-content {
    margin: 0;
    padding: 10px;
    color: #FFF;
}

.visible-message {
    transition: top 500ms ease-out, opacity 300ms ease-out;
    opacity: 1;
    top: 49vh;
    transform: translate(-50%);
}
@media(max-width: 1200px) {
    .products {
        display: flex;
    }
    .products .product {
        max-width: 450px;
        max-height: 450px;
        min-height: 450px;
    }
}

@media(max-width: 992px) {
    .products .product {
        max-width: 325px;
        max-height: 325px;
        min-height: 325px;
    }
    .menu-list {
        flex-direction: column;
    }
    .menu-list>li {
        margin-bottom: 1em;
        width: 100%;
        min-height: 2em;
    }
    li>a {
        margin: 0 15px;
    } 
}

@media(max-width: 767px) {
    .products .product {
        max-width: none;
        width: 100%;
        min-height: 300px;
        max-height: 500px;
    }
}
@media(max-width: 425px) {
    nav .vapecloud_mobile {
        font-size: 20px;
    }
}
@media(max-width: 320px) {
    .product .label {
        max-width: 140px;
    }
}