table {width: 100%; border-collapse: collapse; margin: 0 0 20px 0; font-size: 0.8em;}
table td {padding: 12px 16px;}
table thead tr {font-weight: bold; border-top: 1px solid #e8e9eb;}
table tbody tr:hover {background: #e8f6ff;}
table tr {border-bottom: 1px solid #e8e9eb;}

@media(max-width: 540px) {
    table {font-size: 3.5vw;}
}